@font-face { 
  font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local(Yanone Kaffeesatz), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  /* background: #F8F7EE url(../images/pattern.png); */
  color: #002211;
}


#main, #logo, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

header { 
  background: #404040;
  min-width: 1288px;
  /* height: 117px; */
  border-bottom: 1px solid #005533;
  background: transparent url(../image/bg/box2.gif) top left repeat   /* no-repeat */
}

#logo { 
  
  /* height: 85px; */
  
  color: #888;
  padding: 15px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003355', endColorstr='#0000ff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#003355), to(#0000ff)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #003355,  #0000ff); /* for firefox 3.6+ */ 
    /* background-image: -ms-radial-gradient(top center, circle cover,  
         orange, red 25px, turquoise); /* for IE 10 */
    background-image: -ms-linear-gradient(top, #003355 0%, #0000ff 100%);  /* for IE 10 */
}


nav { 
  height: 42px;
  margin: 0 auto 0 auto;
  background: #0077aa;
  /* background: transparent url(../image/bg/box1.gif) repeat; */
} 

#menu_container { 
  width: 828px;
  height: 42px;
  margin: 0 auto 0 auto;
}

#site_content { 
  width: 1288px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 2px 0 0 0;
  background: #ffffef; 
  /* border: 1px solid #efefef; */
} 

#leftsidebar { 
  float: left;
  width: 250px;
  background:#ffffef;
  padding-bottom: 50px;  /* make sure the footer has space */
}

#subtitle { 
  float: left;
  width: 100%;
  height: 55px;
  /* padding: 0 0 0 40px; */
  background:#ffffef;
  /* background: transparent url(../image/bg/brick070.jpg) repeat; */
}


.leftsidewrapper { 
  float: left;
  width: 100%; 
  margin: 0 0 10px 0;
  background:#ffffff; 
  border: 1px solid #cfcfcf; 
}

/* no border */
.leftsidewrapper2 { 
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  /* background:#ffffef; */
}

#content { 
  text-align: left;
  width: 1030px;
  margin: 0 0 0 6px;
  float: right;
  padding: 0 0 0 0;
  font-size: 12pt;
  background:#ffffef;
  padding-bottom: 50px;  /* make sure the footer has space */
}

.contentwrapper { 
  text-align: left;
  width: 1030px;
  min-height: 300px;
  margin: 0 0 10px 0;
  float: right;
  /*padding: 1px; */
  font-size: 14pt;
  background:#003355;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius: 5px;
  behavior:url(../theme/border-radius.htc);
}

.contentwrapper2 { 
  text-align: left;
  width: 1021px;
  min-height: 300px;
  margin: 0 0 10px 0;
  float: right;
  padding: 1px;
  font-size: 14pt;
  background:#ffffff;
  border: 1px solid #cfcfcf;
}



#tail { 
  float: left; 
  width: 1288px;
  margin: 0 0 0 4px;
  bottom: 14px; 
  /*border: 1px solid #003355; */
} 

/* following is needed to show the order, bulleton */
#content li {
  display: list-item;
  /* list-style-position: inside; */
  margin-left: 25px;
}

#leftsidebar li {
  display: list-item;
  /* list-style-position: inside; */
  margin-left: 25px;
}
 


/* steps to make footer at the bottom; and main to cover 100% height. */
html, body, #main { height: 100%; }
body > #main { height: auto; min-height: 100%; } 

footer { 
  /*float: left; */
  width: 100%;
  min-width:1288px;
  font-family: 'lucida sans', sans-serif;
  height: 35px;
  padding: 10px 0 5px 0;
  text-align: center; 
  /*background: transparent url(../image/bg/box1.gif) repeat; */
  background: #A8A8A8;
  /* margin: 0 0 0 0; */
  /* make the footer stays on bottom, need to set padding-bottom to content/leftsidebar */
  clear: both;
  position: relative;
  z-index: 10;
  margin-top: -50px;
}




.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  

/* scroll to top */
#scroll { 
  position: relative; 
  width: 1288px;
  margin: 0 auto;
  bottom: 0; /* 14px; */
  right: 0;
  background: red;
  padding: 0;
}
  
#scroll a { 
  float: right;
  margin: 0 0 0 0; 
  padding: 0 0 0 0;
}
  
#scroll a img { 
  float: right;
  padding: 0 0 0 0;
  margin: 0;
}


.clear {
	clear: both;
}

/* end */

