/* this is important for <ul><li> display */
* { 
  margin: 0;
  padding: 0;
} 

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  background: #fffffe; /* url(../image/bg/brick070.jpg); */
  color: #002211;
}


#main, #logo, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
} 

header { 
  background: #0099cc;
  /* height: 117px; */
  border-bottom: 1px solid #FFF;
  /* background: transparent url(../image/bg/box2.gif) top left repeat   /* no-repeat */
}

#logo { 
  width: 100%;
  /* height: 85px; */
  
  color: #888;
  padding: 15px 0 15px 0;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003355', endColorstr='#0000ff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#003355), to(#0000ff)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #003355,  #0000ff); /* for firefox 3.6+ */ 
    /* background-image: -ms-radial-gradient(top center, circle cover,  
         orange, red 25px, turquoise); /* for IE 10 */
    background-image: -ms-linear-gradient(top, #003355 0%, #0000ff 100%);  /* for IE 10 */
}


nav { 
  height: 42px;
  width: 100%;
  margin: 0 auto 0 auto;
  background: #0077aa;
  /* background: transparent url(../image/bg/box1.gif) repeat; */
} 

#menu_container { 
  width: 888px;
  height: 42px;
  margin: 0 auto 0 auto;
  /*background: #ff0000; */
}

#site_content { 
  width: 100% - 4px;  /* 1288px; */
  max-width: 100%;  /*1588px; */
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 2px;
  /* background: #ff0000; */
  /* border: 1px solid #efefef; */
} 

#leftside_container { 
  float: left;
  width: 100%;   /* 82% for two columns */
  background:#ffffef;
}

#subtitle { 
  float: left;
  width: 100%;
  height: 55px;
  /* padding: 0 0 0 40px; */
  background:#ffffef;
  /* background: transparent url(../image/bg/brick070.jpg) repeat; */

}

#leftsidebar { 
  float: left;
  width: 17.5%; /* 204px; */
   margin: 0 0 15px 3px;
   background:#ffffef;
}

.leftsidewrapper { 
  float: left;
  width: 100%; /* 204px; */
  margin: 0 0 10px 0;
  /* background:#ffffef; */
  border: 1px solid #cfcfcf; 
}

.leftsidewrapper2 { 
  float: left;
  width: 100%; /* 204px; */
  margin: 0 0 10px 0;
  /* background:#ffffef; */ 
}

#content { 
  text-align: left;
  width: 81%; /*820px;*/
  margin: 0 0 0 8px;
  float: left;
  padding: 0 0 0 0;
  font-size: 12pt;
  background:#ffffef;
}

.contentwrapper { 
  text-align: left;
  width: 99%; /*820px;*/
  min-height: 200px;
  margin: 0 auto 10px auto;
  padding: 2px;
  font-size: 14pt;
  background:#ffffef;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 10px;
  behavior:url(../theme/border-radius.htc);
  
  /*-webkit-box-shadow: 3px 3px 5px 6px #f00;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* -moz-box-shadow:    3px 3px 5px 6px #f00;  /* Firefox 3.5 - 3.6 */
  /* box-shadow:         3px 3px 0px 2px #003355;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  
}

.contentwrapper2 { 
  text-align: left;
  width: 99%; /*820px;*/
  min-height: 300px;
  margin: 0 auto 10px auto;
  padding: 1px;
  font-size: 14pt;
  background:#ffffff;
  border: 1px solid #cfcfcf;
}

.contentwrapper3 { 
  text-align: left;
  width: 99%; /*820px;*/
  min-height: 300px;
  margin: 0 auto 10px auto;
  padding: 2px;
  font-size: 14pt;
  background:#003355;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 10px;
  behavior:url(../theme/border-radius.htc);
  
  /*-webkit-box-shadow: 3px 3px 5px 6px #f00;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* -moz-box-shadow:    3px 3px 5px 6px #f00;  /* Firefox 3.5 - 3.6 */
  /* box-shadow:         3px 3px 0px 2px #003355;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  
}

#rightsidebar { 
  float: left;
  /* min-width: 250px; */
  width: 17.2%; 
  min-height: 560px; 
  margin: 0 0 0 3px;
  padding: 1px;
  background:#ffffff;
  
}

.rightsidewrapper { 
  float: left;
  /* min-width: 250px; */
  width: 97%; 
  min-height: 560px;
  margin: 0 auto 10px auto;
  padding: 5px;
  border: 1px solid #cfcfcf;
}


/*
#sidebar {
  background:#003355;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 10px;
  behavior:url(../theme/border-radius.htc);
} */

/* following is needed to show the order, bullton */
#content li {
  display: list-item;
  /* list-style-position: inside; */
  margin-left: 25px;
}

#rightsidebar li {
  display: list-item;
  /* list-style-position: inside; */
  margin-left: 25px;
}

#leftside_container li {
  display: list-item;
  /* list-style-position: inside; */
  margin-left: 25px;
}
  

footer { 
  width: 100%;
  font-family: 'lucida sans', sans-serif;
  height: 40px;
  padding: 10px 0 0 0;
  text-align: center; 
  /*background: transparent url(../image/bg/box1.gif) repeat; */
  background: #A8A8A8;
  margin: 0 auto 0 auto;
}




.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}

/*
#tail { 
  position: relative; 
  width: 97%;
  max-width: 1568px;
  margin: 0 auto 30px auto;
  top:14px;
  border: 1px solid #003355;
  padding: 10px;
  background:#fffffe;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 10px;
  behavior:url(../theme/border-radius.htc);
} */

#tail { 
  position: relative; 
  width: 100%;
  max-width: 1468px;
  margin: 0 auto 0 auto;
  top:14px;

} 

/* scroll to top */
#scroll { 
  position: relative; 
  width: 100%;
  max-width: 1488px;
  margin: 0 auto;
  bottom: 0; /*14px; */
  right: 0;
  background: red;
  padding: 0;
}
  
#scroll a { 
  float: right;
  margin: 0 0 0 0; 
  padding: 0 0 0 0;
}
  
#scroll a img { 
  float: right;
  padding: 0 0 0 0;
  margin: 0;
}


.clear {
	clear: both;
}

/* end */

