/* style for global use */

BODY {
    BACKGROUND-COLOR: #FFFFFF; COLOR: #333366; FONT-FAMILY: 'Times New Roman';
    margin:0;
    padding:0;
    line-height: 1.5em;
    
}


/* outmost container for all */
#outcontainer {
    width: 1028px; /*Width of main container*/
    margin: 0 auto; /*Center container on page*/
    /* background: url(../images/bg_border.gif) top left repeat-y;  /*padding:1px 15px 10px 15px; */
    background-color: #000000;

}

/* the one contains content */
#maincontainer {
    width: 1008px; /*Width of main container*/
    margin: 0 auto; /*Center container on page*/
    background: #000000;
}

#topsection {
    background: #004422;
    height: 132px; /*Height of top section*/
    visibility: visible;
}

#topsection h1{
    margin: 0;
    padding-top: 15px;
}

#topsection_login {
    background: #004422;
    height: 177px; /*Height of top section*/
}

#contentwrapper{
    float: left;
    width: 100%;
}

#bodysection {
    background: #cccccc; 
    height: 430px; /*Height of body section*/

}

#bodysection2 {
    background: #cccccc;
    height: 600px; /*Height of body section*/
}

#bodysection3 {
    /*background: #cccccc; */
    height: 394px; /*Height of body section*/
    background: url(../base/aapl_chart.jpg) top left repeat;
}

#contentcolumn{
    margin-left: 160px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
    float: left;
    width: 160px; /*Width of left column*/
    margin-left: -1008px; /*Set left margin to -(MainContainerWidth)*/
    background: #000000;  /* #33aaf0; */
    height: 550px;
}

#pre_footer{
    clear: both;
    width: 100%;
    background: #000000;
    margin: 0;
    color: #FFF;
    height: 20px;
}

#pre_footer2 {
    clear: both;
    width: 100%;
    /*background: #cccccc; */
    margin: 0;
    color: #00F;
    height: 20px;
}

#footer{
    clear: left;
    width: 100%;
    background: #f00; 
    color: #FFF;
    text-align: center;
    padding: 4px 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0000aa'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#0000aa)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #000000,  #0000aa); /* for firefox 3.6+ */ 
    background-image: -ms-linear-gradient(top, #000000 0%, #0000aa 100%);  /* for IE 10 */
}

#footer a{
    color: #FFFF80;
}

.innertube{
    margin: 5px 5px 5px 0px; /* Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 0;
}

.innertube2 {
    margin: 0px; /*Margins for inner DIV inside each column (to provide padding)*/
    margin-top: 0;
}




/* End */

