<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns="https://java.sun.com/xml/ns/javaee" xsi:schemaLocation="https://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>profile</display-name>
  <context-param>
    <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
    <param-value>/WEB-INF/tiles/tiles_public.xml,/WEB-INF/tiles/tiles_main.xml,/WEB-INF/tiles/tiles_account.xml,/WEB-INF/tiles/tiles_group.xml,/WEB-INF/tiles/tiles_message.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF/log4j</param-value>
  </context-param>
  <context-param>
    <param-name>APP_PROPERTIES_FILE</param-name>
    <param-value>main</param-value>
  </context-param>
  <context-param>
    <param-name>APPLICATION_ROOT</param-name>
    <param-value>WEBA</param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.greenfield.ui.init.AppContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <servlet>
    <servlet-name>DrawChartServlet</servlet-name>
    <servlet-class>com.greenfield.ui.servlet.DrawChartServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.greenfield.ui.servlet.DownloadServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AjaxServlet</servlet-name>
    <servlet-class>com.greenfield.ui.servlet.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SystemMgrServlet</servlet-name>
    <servlet-class>com.greenfield.ui.servlet.SystemMgrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrawChartServlet</servlet-name>
    <url-pattern>/drawchart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxServlet</servlet-name>
    <url-pattern>/ajaxsvr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SystemMgrServlet</servlet-name>
    <url-pattern>/mgr</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>